html, body {
  height: 100%;
  overflow: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}

.row {
  height: 0px;
  padding-bottom: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*right*/

.right {
  padding: 40px;
  background: #f8f8f8;
  height: 0px;
  padding-bottom: 100%;
}

.list-group {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -100px;
  padding-right: 130px;
  max-height: 600px;
}

.list-group-item {
  position: relative;
  display: block;
  margin: 5px 0;
  padding: 0;
  background-color: #f6f6f6;
  border: 0;
}

a.list-group-item:hover {
  /*color: #ff6484;*/
  text-decoration: none;
  /*border-left: 4px solid #ff6484;*/
  background-color: #ff6484;
  border-radius: 6px;
  color: #fff;
}

a.list-group-item:focus {
  background-color: #ff6484;
  border-radius: 6px;
}

a.list-group-item:visited {
  background-color: #ff6484;
  border-radius: 6px;
  color: #fff;
}

a>.media-body:hover {
  color: #fff;
}

a>.media-body:focus {
  color: #fff;
}

a>.media-body:visited {
  color: #fff;
}

.media-body {
  padding: 4px 0;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #000;
  margin-top: 0;
  margin-bottom: 10px;
  vertical-align: middle;
}

/*.media-body:hover {
  background-color: #ff6484;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
}*/

.media-left {
  padding-left: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #fff;
  max-height: 35px;
  max-width: 35px;
}

.media-object {
  padding-right: 3px;
  max-height: 33px;
  max-width: 33px;
}

/*left*/

.left {
  height: 0px;
  padding-bottom: 100%;
  padding-left: 0;
  padding-right: 0;
}

#bgurl {
  background-image: url("");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

.player-content {
  margin-top: 30%;
}

/*back button*/

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 106px;
  width: 106px;
  z-index: 100;
  background-image: url('image/back-icon.png');
  background-repeat: no-repeat;
}

#back-icon {
  height: 106px;
  width: 106px;
}

.back-button:hover {}

/*like button*/

.like-button {
  height: 106px;
}

#like-icon {
  background-image: url('image/like-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 106px;
  width: 106px;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 10%;
}

#like-icon:hover, #like-icon:focus, #like-icon:visited {
  background-image: url('image/likefull-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*footer*/

.footer {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: #ddd;
  z-index: 100;
  width: 24%;
  height: 50px;
}
